
body {
    color: #e8e0e3;
  }
  
  .jumbotron {
    background-image: url("https://htmlpreview.github.io/?https://github.com/laminatejml/World-Happiness-Capstone/blob/main/json%20conversion/data%20converter/static/images/world_happiness.jpg");
    background-size: 100% 100%;
    text-align: center;
  }
  
  .article-title, .article-p {
    padding: 20px;
  }
  form {
    padding: 5px;
  }
  
  #filter-btn {
    width: 100%;
  }
